// Dienstleistungen.scss
.services-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;

  h1 {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
  }

  .services-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .service {
    width: calc(40% - 10px); /* 50% Breite mit 10px Abstand zwischen den Boxen */
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;

    h2 {
      font-size: 24px;
      margin-bottom: 10px;
    }

    p {
      font-size: 16px;
      color: #666;
    }

    .btn-more {
      display: inline-block;
      padding: 10px 20px;
      background-color: #007bff;
      color: #fff;
      text-decoration: none;
      border-radius: 5px;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #0056b3;
      }
    }
  }
}
