.bewertung-app {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #333;
    padding: 20px;
    background-color: #f4f4f4;

    h1 {
        font-size: 2.5em;
        margin-bottom: 20px;
        color: #007BFF;
        font-weight: 700;
    }

    .durchschnitt-rating {
        margin-bottom: 20px;

        .rating-value {
            font-size: 1.5em;
            font-weight: 500;
            margin-left: 10px;
        }
    }

    .bewertungen-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .bewertung-box {
            border: 1px solid #ddd;
            border-radius: 10px;
            padding: 20px;
            margin: 10px;
            width: 250px;
            cursor: pointer;
            transition: box-shadow 0.3s, transform 0.2s;
            background-color: #ffffff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

            &:hover {
                box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
                transform: translateY(-5px);
            }

            .bewertung-text {
                margin-bottom: 10px;
                font-size: 1.2em;
                font-weight: 600;
                color: #555;
            }
        }
    }
}
