.product-details-container {
  display: flex;
  justify-content: space-between;
}

.product-details-left, .product-details-right {
  width: 48%;
}

.product-details-table {
  width: 100%;
  margin-bottom: 20px;
}

.product-details-table td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.product-details-table td strong {
  font-weight: bold;
}
