$time-tracker-primary-color: #0a8e77;
$time-tracker-secondary-color: #fbdf84;
$time-tracker-text-color: #333;

.time-tracker-container {
  font-family: 'Montserrat', sans-serif;
  color: $time-tracker-text-color;
  padding: 20px;

  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .buttons-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;

    button {
      margin-right: 10px;
      margin-bottom: 10px;
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
      background-color: $time-tracker-primary-color;
      color: white;
      border: none;
      border-radius: 4px;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: darken($time-tracker-primary-color, 10%);
      }
    }

    input {
      margin-right: 10px;
      margin-bottom: 10px;
      padding: 10px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
  }

  .pdf-download-link {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 16px;
    color: $time-tracker-primary-color;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s ease;

    &:hover {
      color: darken($time-tracker-primary-color, 10%);
    }
  }

  .work-sessions-container {
    ul {
      list-style: none;
      padding: 0;

      li {
        margin-bottom: 10px;
      }
    }

    p {
      margin-top: 20px;
      font-size: 16px;
    }
  }

  .edit-rate-container {
    margin-top: 20px;

    input {
      margin-right: 10px;
      padding: 10px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    button {
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
      background-color: $time-tracker-primary-color;
      color: white;
      border: none;
      border-radius: 4px;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: darken($time-tracker-primary-color, 10%);
      }
    }
  }
}
