.navbar {
  z-index: 1000;
  height: 80px;
  background-color: #3498db; // Helle Hintergrundfarbe
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Schatten für Tiefe
  position: relative;
  display: flex;
  align-items: center;
  font-family: 'Roboto', sans-serif; // Moderne Schriftart

  .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu-icon {
    display: none;

    div {
      width: 30px;
      height: 3px;
      background-color: #ffffff; // Weiße Burger-Icon-Farbe
      margin: 6px 0;
      transition: 0.4s;
    }

    &.active {
      div:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
        width: 45px;
      }

      div:nth-child(2) {
        opacity: 0;
      }

      div:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
        width: 45px;
        margin-top: -8px;
      }
    }
  }

  .nav-elements {
    ul {
      display: flex;
      list-style-type: none;

      li:not(:last-child) {
        margin-right: 40px; // Abstand zwischen den Links
      }

      a {
        height: 80px;
        display: flex;
        align-items: center;
        padding: 0 20px;
        font-size: 16px; // Schriftgröße der Links
        font-weight: 600; // Fettschrift für bessere Lesbarkeit
        color: #ffffff; // Weiße Schriftfarbe für Links
        text-decoration: none;
        position: relative;
        transition: color 0.3s ease;

        &.active {
          color: #f39c12; // Akzentfarbe für aktive Links
        }

        &:hover {
          color: #f39c12; // Farbwechsel beim Hovern über Links
        }
      }
    }
  }

  @media (max-width: 600px) {
    .menu-icon {
      display: block;
      cursor: pointer;
    }

    .nav-elements {
      position: absolute;
      right: 0;
      top: 80px;
      background-color: #3498db;
      width: 0;
      height: calc(100vh - 80px);
      transition: all 0.3s ease-in;
      overflow: hidden;
      overflow-y: auto;

      &.active {
        width: 100%;

        ul {
          flex-direction: column;

          li {
            margin-right: unset;
            margin-top: 20px;
          }
        }
      }
    }
  }
}
