* {
  font-family: -apple-system, BlinkMacSystemFont, "San Francisco", Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin: 0;
}
$primary-color: #007bff;
$secondary-color: #0056b3;
$background-color: rgba(255, 255, 255, 0.8);
$input-border-color: #ccc;
$input-border-radius: 4px;
$button-border-radius: 4px;

.login-container {
  background-image: url('./hintergrundbild.jpg'); /* Passe den Pfad zum Hintergrundbild an */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .login-form {
   backdrop-filter: blur(30px);
   box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.37);
   border: 2px solid rgba(255, 255, 255, 0.18);
   height: 300px;
   width: 500px;
   border-radius: 10%;

   .titel {
    padding-top: 40px;
    padding-left: 40px;
    font-weight: 2px;
   }

    label {
      display: block;
      margin-bottom: 10px;
      padding-left: 40px;

      input {
        width: 350px;
        padding: 8px;
        border-radius: $input-border-radius;
        border: 1px solid $input-border-color;
      }
    }

    .einloggen {
      padding: 1rem 2rem;
      font-size: 1.2rem;
      justify-content: center;
      align-items: center;
      color: #fff;
      background-color: #007bff;
      border: none;
      border-radius: 50px;
      width: 350px;
      cursor: pointer;
      transition: background-color 0.3s;
    }
  }
}
