.mitarbeiter-container {
  padding: 20px;
  background-color: #f9f9f9;

  h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  a {
    display: inline-block;
    margin-bottom: 15px;
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s;

    &:hover {
      background-color: #0056b3;
    }
  }

  .mitarbeiter-tabelle {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    th,
    td {
      padding: 10px;
      text-align: left;
      border: 1px solid #ddd;
    }

    th {
      background-color: #f1f1f1;
      font-weight: bold;
    }

    tr {
      &:nth-child(even) {
        background-color: #f9f9f9;
      }

      &.online {
        background-color: #d4edda; // Hellgrün für Online-Status
      }

      &.krank {
        background-color: #c9acee; // Roter Ton für Krankmeldung
      }
    }

    .online-icon {
      color: green;
      font-size: 1.5rem;
    }

    .krank-icon {
      color: rgb(132, 1, 255);
      font-size: 1.5rem;
    }

    .birthday-icon {
      color: #f39c12;
      font-size: 1.5rem;
      margin-right: 5px;
    }

    td {
      .icon {
        margin-right: 5px;
      }

      a {
        margin-right: 10px;
        color: #007bff;
        text-decoration: none;
        display: inline-flex;
        align-items: center;

        &:hover {
          text-decoration: underline;
        }

        svg {
          margin-right: 5px;
        }
      }

      button {
        padding: 5px 10px;
        background-color: #dc3545;
        color: #fff;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        font-size: 14px;
        display: inline-flex;
        align-items: center;

        &:hover {
          background-color: #c82333;
        }

        svg {
          margin-right: 5px;
        }
      }
    }
  }

  .confirmation-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    z-index: 1000;

    p {
      margin-bottom: 20px;
      font-size: 16px;
    }

    button {
      padding: 10px 15px;
      margin-right: 10px;
      border: none;
      border-radius: 3px;
      font-size: 14px;
      cursor: pointer;

      &:first-of-type {
        background-color: #007bff;
        color: #fff;

        &:hover {
          background-color: #0056b3;
        }
      }

      &:last-of-type {
        background-color: #6c757d;
        color: #fff;

        &:hover {
          background-color: #5a6268;
        }
      }
    }
  }
}
