.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Stellt sicher, dass die Seite immer mindestens die Höhe des Viewports hat */
}

main {
  flex: 1; /* Ermöglicht es dem Hauptinhalt, den verfügbaren Raum zu füllen */
}

footer {
  margin-top: auto; /* Drückt den Footer immer nach unten */
  padding-top: 20px; /* Abstand zwischen Inhalt und Footer */
}
